article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  margin: 0 auto;
  background-color: black;
  color: white; }

header {
  height: 100vh;
  background: url(../assets/hero_img_blk_btm.jpg) top no-repeat;
  background-size: cover; }

h1 {
  font-size: 7rem;
  font-weight: 900; }

h2 {
  font-size: 2.6rem;
  font-weight: 900; }

h3 {
  font-size: 5rem;
  font-weight: 900;
  margin-top: .2rem;
  margin-bottom: .2rem; }

p {
  font-size: 1.6rem; }

footer p {
  font-size: 1.4rem; }

.orangeText {
  color: #e7600c; }

.boldCopy {
  font-weight: bold; }

.lineBreak {
  display: block; }

.topLine {
  border-top: #e7600c solid 6px; }

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.wrapperFooter {
  width: 865px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.michaelSig {
  width: 26rem; }

.mouse {
  width: 26px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.mouse:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -2px;
  background-color: #fff;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite; }

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px); }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01; } }

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px); }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01; } }

.wvcLogo {
  width: 21rem; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.burgerLine {
  width: 35px;
  height: 5px;
  background-color: #e7600c;
  margin: 6px 0; }

button {
  border: none;
  background-color: transparent;
  outline: none; }

button:hover .burgerLine {
  background-color: white; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

section.greatLove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10rem; }
  section.greatLove p {
    width: 54.6rem; }

.sectionARight img {
  position: absolute;
  margin-left: -4rem;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  margin-top: 15rem; }

.impact {
  margin-top: 20rem; }

.worldMap {
  width: 100%;
  height: 656px;
  margin-top: 5rem;
  margin-bottom: 15rem;
  background: url(../assets/WVC_Map_small_dots.png) center no-repeat;
  background-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ftBoxA {
  position: relative;
  top: 100px; }

.ftBoxB {
  position: relative;
  top: 330px; }

.ftBoxC {
  position: relative;
  top: 150px; }

.floatTxtBox {
  width: 232px;
  height: 205px;
  margin: 0 40px 0 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  background-color: #e7600c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .floatTxtBox p {
    margin: 0 2.1rem 0 2.1rem; }
  .floatTxtBox h2 {
    margin: 0 auto; }

.sectBCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sectBCopyLeft {
  width: 65%;
  padding-right: 10rem; }

.statCover {
  margin-top: 20rem;
  height: 69.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url(../assets/D485-0972-1012.jpg_929661.JPG) center no-repeat;
  background-size: cover; }

.statCoverDiv {
  width: 43%;
  height: 69.6rem;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 2.8rem; }

.rightSideTint {
  height: 69.6rem;
  width: 38.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.statSmallBox {
  width: 38.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .statSmallBox h1 {
    margin: 0 auto; }
  .statSmallBox img {
    width: 7.9rem;
    margin-right: .8rem; }
  .statSmallBox p {
    width: 28.7rem; }

.statNumberBox {
  width: 38.2rem; }

.thankYou {
  margin-top: 10rem;
  padding-top: 10rem;
  text-align: center; }

form {
  margin-top: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

input[type=text] {
  width: 25.8rem;
  height: 4rem;
  border-radius: .8rem; }

input[type=email] {
  width: 36.8rem;
  height: 4rem;
  border-radius: .8rem; }

.button {
  width: 15.9rem;
  height: 4rem;
  border-radius: .8rem;
  font-size: 1.5rem;
  color: white;
  border: solid white 2px;
  background-color: black; }

::-webkit-input-placeholder {
  font-size: 1.5rem; }

:-ms-input-placeholder {
  font-size: 1.5rem; }

::-ms-input-placeholder {
  font-size: 1.5rem; }

::placeholder {
  font-size: 1.5rem; }

input {
  padding-left: 1.5rem;
  font-size: 1.5rem; }

.socialMedia i {
  font-size: 3.2rem;
  color: white;
  margin: 5rem 2.6rem; }

.socialMedia a {
  text-decoration: none; }

footer {
  margin-top: 20rem;
  height: 52rem;
  background-color: #d3d3d3; }
  footer p {
    color: black;
    text-align: center; }
  footer .thirdParty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.wrapperFooter {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.thirdParty img {
  width: 115px;
  margin: 3rem;
  text-align: center; }

.bbbL {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6); }

.councilCC {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

@media (max-width: 479px) {
  header {
    height: 70rem;
    background: url(../assets/hero_img_blk_btm_@mobile.jpg) top no-repeat;
    background-size: cover; }
  h1 {
    font-size: 3.5rem; }
  h2 {
    font-size: 1.8rem;
    line-height: 1.5; }
  p {
    font-size: 1.4rem;
    line-height: 1.6; }
  footer p {
    font-size: 1.3rem; }
  .topLine {
    border-top: #e7600c solid 3px; }
  .wrapper {
    width: 350px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem; }
  .wrapperFooter {
    width: 350px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem; }
  .michaelSig {
    width: 21rem; }
  .mouse {
    top: 70rem; }
  .wvcLogo {
    width: 160px; }
  .burgerLine {
    width: 30px;
    height: 4px;
    background-color: #e7600c;
    margin: 5px 0; }
  section.greatLove p {
    width: inherit; }
  .sectionARight img {
    position: relative;
    margin-top: 4rem;
    margin-left: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  p.mm {
    margin-top: 0; }
  .sectionAleft h2 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .impact {
    margin-top: 8rem; }
  .worldMap {
    height: 92rem;
    background: url(../assets/WVC_Map_small_dots_@mobile.png) center no-repeat;
    margin: 0 auto;
    background-size: 100%; }
  .ftBoxA {
    position: relative;
    top: 50px; }
  .ftBoxB {
    position: relative;
    top: 25px; }
  .ftBoxC {
    position: relative;
    top: 5px; }
  .floatTxtBox h2 {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    margin-bottom: 1.5rem; }
  .floatTxtBox p {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .sectBCopyLeft {
    width: inherit;
    padding: 0; }
  .sectBCopyRight {
    margin-top: 4rem; }
    .sectBCopyRight img {
      width: 479px;
      margin-top: 2rem; }
  .statCover {
    width: 100%;
    margin-top: 10rem;
    height: 74.7rem; }
  .statCoverDiv {
    width: inherit;
    height: inherit;
    padding: 0; }
  .rightSideTint {
    width: inherit; }
  .statSmallBox {
    width: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .statSmallBox h1 {
      text-align: center;
      margin-top: 1rem; }
    .statSmallBox p {
      text-align: center;
      margin-top: .5rem; }
  .statSmallBox :nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .statSmallBox :nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .statSmallBox :nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  input[type=text] {
    margin-bottom: 2rem; }
  input[type=email] {
    width: 25.8rem;
    margin-bottom: 2rem; }
  .button {
    width: 25.8rem;
    margin-bottom: 4.8rem; }
  .socialMedia {
    height: 80px; }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 62.1rem;
    padding: 0; }
    footer .thirdParty {
      -ms-flex-negative: 3;
      flex-shrink: 3; }
  .thirdParty img {
    width: 80px;
    margin: .6rem; } }
